.counter{
    margin: 15px;
    font-family: "Century Gothic";
}

button {
    border-color: cyan;
    background-color: black;
    color: cyan;
}
span{
    color: cyan;
    padding: 5px;
}
body {
    background-color: black;
}
input {
    background-color: black;
    color: cyan;
    border-color: cyan;
    padding: 5px;
    font-family: "Century Gothic";
    font-size: 14px;
}
.counterSize {
    color: cyan;
    font-family: "Century Gothic";
}
.Size {
    color: cyan;
    font-family: "Century Gothic";
}

